{{- $nodes := union .RegularPages .Sections }}
{{- $nodes = sort $nodes "Title" }}
{{- $lastIndex := sub (len $nodes) 1 }}
{{- range $index, $node := $nodes }}
  {{- $last := eq $index $lastIndex }}
  {{- if $node.IsSection }}
    <div class="tn-dir">
      <a class="tn-file-link" href="{{ $node.RelPermalink }}">
        <div class="tn-file-row">
          <span class="tn-connector" aria-hidden="true">{{ if $last }}└─{{ else }}├─{{ end }}</span>
          <span class="tn-dir-name">▾ {{ $node.Title }}/</span>
          {{- with $node.Description }}
          <span class="tn-file-date">{{ . | plainify }}</span>
          {{- end }}
        </div>
      </a>
      <div class="tn-dir-children">
        {{- partial "post_tree_nodes.html" $node -}}
      </div>
    </div>
  {{- else }}
    {{- partial "post_tree_file.html" (dict "page" $node "last" $last) -}}
  {{- end }}
{{- end -}}
